<section class="comments">
    {{#each this}}

    <section class="comment">
        <div class="user-details">
            {{user.username}} added comment on {{created_at}}
        </div>
        <div class="text">
            {{comment_text}}
        </div>
    </section>
    {{/each}}

</section>