<section class="new-post">
    <button type="submit" class="btn" id="new-post"> Create a new post</button>
</section>

<section class="dashboard-container">
    {{#if posts.length}}
    <h2>Your Dashboard</h2>
    <section class="dashboard-post">
        <ul class="post-list">
            {{#each posts as |post|}}
            <li>
                {{> post-info post}}
                <a href="/dashboard/edit/{{post.id}}" class="edit-post">edit post</a>
            </li>
            {{/each}}
        </ul>
    </section>
    {{/if}}

</section>


<script src="/script/new-post.js"></script>