<section class="login-page">
    <section class="form-heading">
        <h1>Log In</h1>
    </section>
    <section class="form form-section">
        <form class="form login-form">
            <section class="user-input">
                <label for="username">Username</label>
                <input type="text" class="entry-field" id="username" autocomplete="off" />
            </section>
            <section class="user-input">
                <label for="password">Password</label>
                <input type="password" class="entry-field" id="password" />
            </section>
            <section class="user-input">
                <button type="submit" class="login-btn btn">Log In</button>
            </section>
        </form>
    </section>
    <section id="signup">
        <a href="/signup" class="signup">sign up instead</a>
    </section>
    
</section>

<script src="/script/login.js"></script>