<div class="login-page">
    <div class="form-heading">
        <h1>Log In</h1>
    </div>
    <div class="form form-section">
        <form class="form login-form">
            <div>
                <label for="username">Username</label>
                <input type="text" class="entry-field" id="username" />
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" class="entry-field" id="password" />
            </div>
            <div>
                <button type="submit" class="login-btn">Log In</button>
            </div>
        </form>
    </div>

    <a href="/signup" class="signup">sign up instead</a>
</div>

<script src="/script/login.js"></script>