<div class="signup-page">
    <div class="form-heading">
        <h1>Sign Up</h1>
    </div>
    <div class="form form-section">
        <form class="form signup-form">
            <div class="user-input">
                <label for="username">Username</label>
                <input type="text" class="entry-field" id="username" autocomplete="off" placeholder="ENTER A USERNAME"/>
            </div>
            <div class="user-input">
                <label for="password">password</label>
                <input type="password" class="entry-field" id="password" placeholder="ENTER A PASSWORD" />
            </div>
            <div class="user-input">
                <button type="submit" class="signup-btn btn">Sign Up!</button>
            </div>
        </form>
    </div>
    <div id="login">
        <a href="/login" class="login">log in instead</a>
    </div>
    
</div>

<script src="/script/signup.js"></script>