@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

:root {
    --bg-color-theme: #413539;
    --fg-color-theme: #eee4e4;
    --dashboard-color: #CEC5C5;
    --btn-bg-color: #798a9b;
    --btn-hover: #536374;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: var(--bg-color-theme);
    padding: 30px;
    margin-bottom: 20px;
}

nav ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    list-style: none;
}

nav ul li {
    font-size: 2rem;
    margin-right: 20px;
}

nav ul li a {
    color: var(--fg-color-theme);
    text-decoration: none;
}

nav h1 {
    display: inline-block;
    color: var(--bg-color-theme);
    border-radius: 10px;
    box-shadow: 10px 6px #aaa9a9;
    font-size: 3.5rem;
    font-weight: 700;
    background-color: var(--fg-color-theme);
    padding: 20px;
    margin-left: 20px;
}

.login-page, .signup-page, .post-page {
    width: 95%;
    border: 3px solid var(--bg-color-theme);
    margin: 20px auto;
}

.form-heading {
    background-color: var(--bg-color-theme);
    color: var(--fg-color-theme);
    font-size: 1.5rem;
    padding: 20px;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}

.user-input {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 90%;
}

.user-input label {
    text-align: center;
    font-size: 1.5rem;
}

.user-input input {
    padding: 10px 8px;
    font-size: 1.3rem;
    outline: none;
    border-radius: 5px;
}

.btn {
    padding: 10px 20px;
    font-size: 1.5rem;
    background-color: var(--btn-bg-color);
    color: var(--fg-color-theme);
    border: none;
    outline: none;
    border-radius: 5px;  
}

.btn:hover {
    background-color: var(--btn-hover);
    cursor: pointer;
}

#signup, #login {
    margin: 10px auto;
    text-align: right;
    padding: 10px;
}

.signup, .login {
    color: var(--bg-color-theme);
    padding: 10px;
    font-size: 1.5rem;
}

.signup:hover {
    color: mediumblue;
}

.new-post {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.title-section, .post-content {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    padding: 10px;
}

.title-section label, .post-content label {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.title-section input, .post-content textarea {
    padding: 10px 8px;
    font-size: 1.5rem;
}

.post-content textarea {
    resize: none;
    width: 100%;
    height: 200px;
}

.post-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
}

.btn-post {
    width: 20%;
}

.dashboard-container {
    width: 80%;
    margin: 0 auto;
}

.dashboard-post li {
    list-style: none;
    padding: 30px;
    margin: 10px;
}

.dashboard-container h2 {
    font-size: 1.9rem;
    color: #797474;
    text-align: center;
}

.edit-post {
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--btn-bg-color);
    margin-top: 50px;
}

.edit-post:hover {
    color: var(--btn-hover);
}

.post-container {
    border: 3px solid var(--bg-color-theme);
}

.title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: var(--bg-color-theme);
    color: var(--fg-color-theme);
}

.post-title a{
    color: var(--fg-color-theme);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    opacity: 0.8;
}

.content-container {
    font-size: 1.8rem;
    padding: 30px;
}

.edit-post-btn, .delete-post-btn {
    padding: 10px 20px;
    font-size: 1.5rem;
    color: var(--fg-color-theme);
    border: none;
    outline: none;
    border-radius: 5px;  
    margin: 20px 0 0 10px;
}

.edit-post-btn {
    background-color: #576272;
}

.delete-post-btn {
    background-color: red;
}